huggingface-hub==0.23.2
sentencepiece==0.2.0
torch==2.2.2
transformers==4.41.1
protobuf==5.27.0
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-huggingface==0.0.3
loguru==0.7.2